/* General Use Stuff */
html
{
	background-color: black;	
}
#FruitoftheFallenTitle
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 6%;
	max-width: 30%; 
    max-height: 30%;
}
.MainBackground
{
	background-image: url(../Images/DarkForestSample.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	
	background-position: top;
}
#HomeButton
{	
	max-width: 10%; 
    max-height: 5%;
}
.Button
{
	display: block;
	max-width: 20%; 
    max-height: 20%;
	
}
/*Index page*/
#InformationButton
{
	margin-top: 5%;	
}
.IndexButton
{   
	margin-left: auto;
    margin-right: auto;
	margin-top: 2%;
}
#VideoButton
{
	min-width: 20%;
}
/* Information Page */
#InformationPage
{
	color: white;
	background-image: url(../Images/SnowForest.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	
	background-position: top;
}
.InformationParagraph
{
	border-color: white;
	border-width: 6px;
	border-style: double;
	margin-left: 20%;
	margin-right: 20%;
	padding: 10px;
	font-size: 20px;
}
#TeamButton
{	
	margin-bottom: 2%;
	min-width: 20%;
}

/* How to Play Page */
#AppleTalkBox
{
	display: inline-block;
	background: rgba(100, 200, 50, 0.7);	
	border-color: green;
	border-width: 10px;
	border-style: double;	
	padding: 10px;	
			
}
#AppleSpeak
{	
	color: black;
	font-size: 25px;
	font-weight: bold;	
}
#Pomme
{
	display: none;
    margin-left: auto;
    margin-right: auto;
	margin-top: 3%;
	max-width: 8%; 
    max-height: 3%;
}
#AppleButton
{
	margin-top: 6%;
}
.HowToPlayButton
{
	display: none;
    margin-left: auto;
    margin-right: auto;	
	margin-top: 2%;
    max-width: 20%; 
    max-height: 20%;
}
/* Members Page */
#MembersPage
{
	background-image: url(../Images/SmallTown.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	
	background-position: top;
	color: white;
}
table
{
	margin-top: 1%;
	font-size: 25px;
	margin-left: 20px;
	margin-right: 20px;
	border: thin solid white;
	caption-side: bottom;
}
td,th
{
	border: thin dotted gray;
	padding: 5px;
}
/* Video Page */
#VideoPage
{
	background-image: url(../Images/DoorFull.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	
	background-position: top;
}
video
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10%;
}