html
{
	background-color: black;
}
body
{			
	background-image: url(../Images/DarkForestSign.png);
	background-repeat: no-repeat;
	background-size: 100%;	
}
h1
{
		
}
#informationButton
{
	margin-top: 16%;	
}
#row3
{
	
}
#SirApple
{
	 
    max-width: 20%; 
    max-height: 20%;
}
#PumpkinGolem
{
	 
    max-width: 20%; 
    max-height: 20%;
}
.button
{
	display: flex;
	justify-content: center;
	
}
.buttons
{	 
    max-width: 20%; 
    max-height: 20%;
}
#TwitterButton
{
	
}
table
{
	font-size: 25px;
	margin-left: 20px;
	margin-right: 20px;
	border: thin solid white;
	caption-side: bottom;
}
td,th
{
	border: thin dotted gray;
	padding: 5px;
}
caption
{	
	padding-top: 8px;
}
a
{
	
}
li
{
	list-style-type: disc;
}