html
{
	background-color: black;	
}
.MainBackground
{
	background-image: url(../Images/DarkForestSample.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	
	background-position: top;
}
#InformationPage
{
	color: white;
	background-image: url(../Images/SnowForest.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	
	background-position: top;
}
#MembersPage
{
	background-image: url(../Images/SmallTown.jpg);
	background-repeat: no-repeat;
	background-size: 100%;	
	background-position: top;
	color: white;
}
body
{			
	
}
#InformationButton
{
	margin-top: 6%;	
}
.InformationParagraph
{
	border-color: white;
	border-width: 2px;
	border-style: solid;
	margin-left: 20%;
	margin-right: 20%;
	padding: 10px;
	font-size: 20px;
}
#SirApple
{
    max-width: 20%; 
    max-height: 20%;
}
#PumpkinGolem
{
    max-width: 20%; 
    max-height: 20%;
}
#FruitoftheFallenTitle
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 6%;
}
.IndexButton
{	 
	display: block;
    margin-left: auto;
    margin-right: auto;	
	margin-top: 2%;
    max-width: 20%; 
    max-height: 20%;
	
}
#TeamButton
{
	max-width: 15%; 
    max-height: 15%;
}
#HomeButton
{
	max-width: 10%; 
    max-height: 5%;
}
#HowToPlayText
{
	color: green;	
	margin-top: 4%;
	
}
table
{
	margin-top: 1%;
	font-size: 25px;
	margin-left: 20px;
	margin-right: 20px;
	border: thin solid white;
	caption-side: bottom;
}
td,th
{
	border: thin dotted gray;
	padding: 5px;
}
caption
{	
	padding-top: 8px;
}
li
{
	list-style-type: disc;
}